<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<body>
<header style="display:flex; justify-content:space-between; align-items:center; padding:20px 0;"
        th:fragment="siteHeader">
    <div onclick="location.href='/'"
         style="font-size:32px; font-weight:bold; cursor:pointer;">책 검색
    </div>

    <div>
        <!-- 비로그인 -->
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">로그인</a>
            &nbsp;|&nbsp;
            <a th:href="@{/signup}">회원가입</a>
        </span>

        <!-- 로그인 -->
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/me}" style="text-decoration: none; color: inherit; cursor:pointer;">
                <span th:text="${loginNickname}">사용자</span> 님
            </a>
            &nbsp;| &nbsp;
            <a th:href="@{/logout}">로그아웃</a>
        </span>
    </div>
</header>
</body>
</html>
